/*!
 * BBR CSS
 */

/*
 * Main content
 */

.main {
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.noselection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;    
}

/* Addition to tables */
td.occupied {
	background-color: #A7A0B2;
}

td.selected {
	background-color: #A6B792;
}

td.order {
	/*background-color: #8080ff;*/
}

td.conflict {
	background-color: #CC6E9D;
}

td.clickable {
	cursor: pointer;
}

.visit-status-0 {
	border-color: #FFCC68 !important;
	color: #FFCC68 !important;
}

.visit-status-1 {
	border-color: green !important;
	color: green !important;
}

.visit-status-2 {
	border-color: grey !important;
	color: grey !important;
}

.visit-status-3 {
	border-color: blue !important;
	color: blue !important;
}

.visit-status-4 {
	border-color: red !important;
	color: red !important;
}

td.single-cell {
	padding: 10px 2px !important;
}

td.middle-cell {
	padding: 10px 0px 10px 0px !important;
	border-left: none !important;
	border-right: none !important;
}

td.start-cell {
	padding: 10px 0px 10px 6px !important;
	border-right: none !important;
}

td.end-cell {
	padding: 10px 6px 10px 0px !important;
	border-left: none !important;
}

div.single-cell {
	display: block;
	border: 4px solid;
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

div.middle-cell {
	display: block;
	border: 4px solid;
	border-radius: 0px;
	height: 100%;
	width: 100%;
}

div.start-cell {
	display: block;
	border: 4px solid;
	border-radius: 4px 0px 0px 4px;
	height: 100%;
	width: 100%;
}

div.end-cell {
	display: block;
	border: 4px solid;
	border-radius: 0px 4px 4px 0px;
	height: 100%;
	width: 100%;
}

.dashboard {
	height: 300px;
}

div.has-error .selectize-input {
	border-color: #a94442 !important;
}

ul.nav-tabs li a.has-error {
	color: red;
}

h4.nav {
	padding-top: 10px;
	padding-left: 10px;
}

.navbar-defalut > h4.nav {
	color: #333333;
}
.navbar-inverse > h4.nav {
	color: #dddddd;
}

.action-group {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;	
}

.action-group .btn-group {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;	
}

.action-group .btn-group .btn {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;	
} 

.action-group .btn-group .dropdown-menu {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;	
} 

/* Filter */

.filterPanel {
	padding-left: 0px;
	padding-right: 0px;
}

@media (max-width: 767px) {
	.filterPanel .pull-right {
		float: none !important;
	}	

	.filterPanel .form-control {
		width: 200px;
		display: inline-block;
	}	

	.filterPanel .form-group {
		width: 160px;
		display: inline-block;
		margin-bottom: 0;
		margin-left: 15px;
		vertical-align: middle;
	}	
	
	.nav-bar {
		display: none;
	}
}

@media (min-width: 768px) {
	.filterPanel .btn {
		margin-right: 15px;
	}
}

/* Tab panels */
@media (min-width: 1200px) {
	.tab-content > .tab-pane.combined{
		width: 49%;
		display: inline-block !important;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 20px;
		vertical-align: top;
		border: solid 1px #dddddd;
		border-radius: 4px;
	}
	
	li.combined {
		display: none;
	}
	
	div.input-group.date {
		width: 50%;
	}
}

/* For small elements */
	.input-spec {
		display: inline-table;
		vertical-align: middle;	
	}


/* Dashboard */
.singleValue {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	line-height: 100%;
	font-size: 200%;
	height: 100%;
	width: 100%;
}

.pic-crop {
    width: 50px;
    height: 50px;
    overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;  
}

.pic-crop img {
    max-width: 50px;
}

.nobr {
	white-space:nowrap;
}

th {
	vertical-align: top !important;
}

.dataTables_wrapper > .row {
	overflow-x: auto;
} 

.center-box {
  width: 600px;
  margin: 7% auto;
}

.center-box-map
{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 800px;
     height: 500px;
}