/*!
 * BBR CSS
 */

body {
  padding-top: 50px;
}



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.noselection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;    
}

/* Addition to tables */
td.occupied {
	background-color: #A7A0B2;
}

td.selected {
	background-color: #A6B792;
}

td.order {
	/*background-color: #8080ff;*/
}

td.conflict {
	background-color: #CC6E9D;
}

td.clickable {
	cursor: pointer;
}

div.visit-status-0 {
	border-color: yellow !important;
}

div.visit-status-1 {
	border-color: green !important;
}

div..visit-status-2 {
	border-color: grey !important;
}

div.visit-status-3 {
	border-color: blue !important;
}

div.visit-status-4 {
	border-color: red !important;
}

td.signle-cell {
	padding: 10px 0px !important;
}

td.middle-cell {
	padding: 10px 0px 10px 0px !important;
	border-left: none !important;
	border-right: none !important;
}

td.start-cell {
	padding: 10px 0px 10px 6px !important;
	border-right: none !important;
}

td.end-cell {
	padding: 10px 6px 10px 0px !important;
	border-left: none !important;
}

div.signle-cell {
	display: block;
	border: 4px solid;
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

div.middle-cell {
	display: block;
	border: 4px solid;
	border-radius: 0px;
	height: 100%;
	width: 100%;
}

div.start-cell {
	display: block;
	border: 4px solid;
	border-radius: 4px 0px 0px 4px;
	height: 100%;
	width: 100%;
}

div.end-cell {
	display: block;
	border: 4px solid;
	border-radius: 0px 4px 4px 0px;
	height: 100%;
	width: 100%;
}